@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');


body{
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: .3px;
    color: rgb(255, 255, 255);
    background-image: url(quentin-zwzeorQPepo-unsplash.jpg);
    background-repeat: no-repeat;
    background-color: #1D160C;
    background-size: 100%;
}

main{
    min-height: 60%;
    max-width: 800px;
    margin: auto;
    margin-top: 3rem;
    padding: 2rem;
    background: #5d2e0d;
    border: #18140C 2rem solid;
    border-radius: 2rem;
}

h1, h2, p, h3{
    text-align: center;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    text-indent: 2rem;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: #090f1c .2rem solid;
}


h2 {
    color: #f7eadb;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    margin: 2rem;
}

p{
    text-indent: 3rem;
    font-size: 1.2rem;
    font-weight: normal;
    margin-bottom: 3rem;
}

li {
    list-style: none;
    text-align: center;
    margin: 0 auto 1rem auto;
    width: 35rem;
    padding: 1rem;
    border: solid #ddd 1px;
    border-radius: 4px;
}

a{
    text-decoration: none;
    color: white;
    transition: all 250ms ease;
    font-weight: bold;
}
a:hover{
    color: #ff6600;
    font-size: 100%;
    font-weight: bold;
}

img{
    width: 100%;
    margin-bottom: 3rem;
}

img:last-child{
    width: 100%;
    margin-bottom: 0;
}

select{
    width: 60%;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    border: #090f1c solid .5rem;
    border-radius: .5rem;
    background-color: #422;
    color: #ddd;
    cursor: pointer;
}

#gameInput{
    width: 10%;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    border: #090f1c solid .2rem;
    border-radius: .5rem;
    background-color: #422;
    color: #ddd;
    cursor: pointer;
}

.button {
    width: 30%;
    height: 7rem;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    border: none;
    border-radius: 1rem;
    background-color: #090f1c;
    color: #ddd;
    display: inline-block;
    cursor: pointer;
}

form {
    text-align: center;
    font-size: 2rem;
}

canvas {
    width: 100%;
}


footer{
    text-align: center;
    padding: 1em;
}



.notActive {
    display: none;
}

#computerScore {
    color: #ff6600;
    font-size: 2rem;
}
#userScore {
    color: #67a733;
    font-size: 2rem;
}

#scoreboardDiv {
    font-size: 1rem;
}

#scoreboardText {
    margin-bottom: 2rem;
}

#status {
    font-size: 1.5rem;
    padding: 1rem;
    padding-left: 0;
    padding-right: 0;
    transition: all 300ms ease;
}

.greenGlow{
    border-radius: 6rem;
    box-shadow: 0px 0px 10px #67a733 inset;
    color: #67a733;
}
.orangeGlow{
    border-radius: 6rem;
    box-shadow: 0px 0px 10px #ff6600 inset;
    color: #ff6600;
}
.blueGlow{
    border-radius: 6rem;
    box-shadow: 0px 0px 10px #ddd inset;
    color: #f7eadb;
}

@media (max-width: 744px) {

    main{
        margin: 0;
        max-width: 100%;
        padding: 2rem;
        border: #090f1c .5rem solid;
    }
    h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    
    h2{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    h3 {
        font-size: 1.0rem;
    }

    #userScore, #computerScore {
        font-size: 1.5rem;
    }
    
    p{
        text-indent: 1.2rem;
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    li {
        width: 90%;
        margin: 0 auto 1rem auto;
        padding: 1rem;
        border: solid #ddd 1px;
        border-radius: 4px;
    }

    img{
        margin-bottom: 1rem;
    }
    .button {
        width: 30%;
        height: 5rem;
        text-align: center;
        padding: .5rem;
        margin: 1rem;
        font-size: 1.4rem;
    }
    #gameInput{
        width: 20%;
        text-align: center;
        padding: 1rem;
        margin: 1rem;
        font-family: 'Orbitron', sans-serif;
        font-size: 2rem;
        border: #090f1c solid .2rem;
        border-radius: .5rem;
        background-color: #422;
        color: #ddd;
        cursor: pointer;
    }
}



